.container{
  position: relative;
  width:1000px;
  height: 1000px;
  background-image: url("https://saint-laurent.dam.kering.com/m/603225ff4888d6ad/Medium-636324YCL631000_A.jpg?v=1");
  background-repeat: no-repeat;
}